@font-face {
  font-family: "e-Ukraine-Bold";
  src: url(/fonts/e-Ukraine-Bold.otf) format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "e-Ukraine-Medium";
  src: url(/fonts/e-Ukraine-Medium.otf) format("otf");
  font-weight: 600;
}
@font-face {
  font-family: "e-Ukraine-Regular";
  src: url(/fonts/e-Ukraine-Regular.otf) format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "e-Ukraine-Light";
  src: url(/fonts/e-Ukraine-Thin.otf) format("otf");
  font-weight: 200;
}
@font-face {
  font-family: "e-Ukraine-UltraLight";
  src: url(/fonts/e-Ukraine-UltraLight.otf) format("otf");
  font-weight: 100;
}
