$primary: #1188f0;
$primary-linear: linear-gradient(280deg, #1a93ea -3.53%, #51b7ff 100%);
$primary-yellow: #f6d811;
$primary-yellow-light: #ffe642;

$white: #fff;
$gray: #f7f7f7;
$black: #323232;

$h2: 48px;
$subtitle: 16px;
